.dockerignore
.env.example
.eslint*
eslint*
.github
.gitignore
.next
.nvmrc
.prettier*
prettier*
.vscode
*.md
coverage
dist
Dockerfile
jest.*
lefthook*
node_modules
out
tsconfig.eslint.json
lefthook.yml

# Copy .env file for local docker development
!.env
